


/*************************** 
Heading
***************************/

header{
    float:left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;

}

#logo {
    text-align: center;
    margin: 0;
}



h1 {
    margin: 15px 0 ;
    font-size:2em;
    line-height: 0.8em;
    color: #fff;
}

h2 {
    font-size: 1.25em; 
    margin: -5px 0 0;
    color: #fff;
}


/*************************** 
Navigation
***************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 20px;
}

nav ul{
    list-style:none;
    margin: 0 10px;
    padding:0;
}

nav li {
    display:inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/* Font Color */


body, nav a, nav a:visited {
    color: #fff;
}

/* Nav Links */
nav a:hover, #selected{
    color:#2196F3;
}


/* Background */

header, body {
    background: #0D47A1;
}

nav, footer {
    background: #1A237E;
}


/*************************** 
Font
***************************/

header {
  font-family: 'Montserrat', sans-serif;  
}

body, nav {
    font-family: 'Roboto Slab', serif;
}

/*************************** 
General 
***************************/


#wrapper{
    max-width:100%;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}


h3{
	margin: 0 0 1em 0;
}





/*************************** 
Footer
***************************/

footer{
    font-size:0.7em;
    text-align: center;
    padding-top:50px;
    margin-top: 50px;
    clear: both;
}

footer p {
    margin:5px 0 0 0;
}

footer img {
    width : 5%;
    margin: 0 2px;
}


/*************************** 
Page Portfolio
***************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;

}

#gallery li a p {
    margin:0;
    padding:5%;
    font-size:0.75em;
    color:#bdc3c7;
}

img{
    width:100%
    
}

/*************************** 
About Page
***************************/

.profile-pic {
	display:block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius:50px;
}


/*************************** 
Contact Page
***************************/

.contact-info{
	list-style:none;
	padding:0;
	margin:0;
	font-size:0.9em;

}

section ul li a, section ul li a:visited {
    color: #2196F3;
}